<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Districts manager{% endblock %}</title>

        <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/vendor/@fortawesome/fontawesome-free/css/all.css" />

        <script type="text/javascript" src="/vendor/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="/vendor/popper.js/dist/umd/popper.min.js"></script>
        <script type="text/javascript" src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>

    {% block stylesheets %}{% endblock %}
</head>
<body>
    <div class="container-fluid">
        
        <div class="jumbotron text-left mt-3 mb-3 p-3">
            <a href="/">
                <h1>
                    <img width="150" src="/img/district.png">
                    manager
                </h1>
            </a>
        </div>

        <div class="row">
            <div class="col-md-12">
                {% for flash_message in app.session.flashbag.get('danger') %}
                    <div class="alert alert-danger">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        {{ flash_message }}
                    </div>
                {% endfor %}
                {% for flash_message in app.session.flashbag.get('success') %}
                    <div class="alert alert-success">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        {{ flash_message }}
                    </div>
                {% endfor %}
                {% for flash_message in app.session.flashbag.get('warning') %}
                    <div class="alert alert-warning">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        {{ flash_message }}
                    </div>
                {% endfor %}
                {% for flash_message in app.session.flashbag.get('info') %}
                    <div class="alert alert-info">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        {{ flash_message }}
                    </div>
                {% endfor %}

            </div>
        </div>
                
    {% block body %}{% endblock %}
    
    <footer class="bg-light border p-3 mt-5 mb-3">
        <ul class="list-inline text-center text-muted m-0">
            <li class="list-inline-item">Copyright &copy; Michał Zbieranek</li>
            
            {% if(app.getEnvironment() == 'dev') %}
            <li class="list-inline-item">
                <a href="/test-coverage/index.html">Test coverage</a>
            </li>
            {%  endif %}
        </ul>
    </footer>   
        
</div>    

{% block javascripts %}{% endblock %}
</body>
</html>
